<div class="container-fluid h-100 p-0">
  <div class="row h-100">
    <div class="col-12 h-100">
      <div id='map' class="w-100 h-100"></div>
    </div>
  </div>
</div>

<script>
  var map = L.map('map', {
      minZoom: 1,
      maxZoom: 5,
      center: [-200, 250],
      zoom: 2,
      crs: L.CRS.Simple,
      attributionControl: false,
      zoomControl: false
    });

    // dimensions of the image
    var w = 4096 * 2,
        h = 4097 * 2,
        url = '<%= asset_path("deadside_map.png") %>';

    // calculate the edges of the image, in coordinate space
    var southWest = map.unproject([0, h], map.getMaxZoom() - 1);
    var northEast = map.unproject([w, 0], map.getMaxZoom() - 1);
    var bounds = new L.LatLngBounds(southWest, northEast);

    L.imageOverlay(url, bounds).addTo(map);

    L.control.zoom({
      position: 'bottomright'
    }).addTo(map);

    // tell leaflet that the map is exactly as big as the image
    map.setMaxBounds(bounds);

    // markers
    var southSafeZone = L.circle([-243.6, 273], {
      color: '#536610',
      fillColor: '#3c3e25',
      fillOpacity: 0.5,
      radius: 8.6
    }).addTo(map);
    southSafeZone.bindPopup("South Safe Zone");

    var northSafeZone = L.circle([-140.3, 256], {
      color: '#536610',
      fillColor: '#3c3e25',
      fillOpacity: 0.5,
      radius: 8.1
    }).addTo(map);
    northSafeZone.bindPopup("North Safe Zone");

    var LocationIcon = L.Icon.extend({
      options: {
        iconSize:     [25, 75],
        popupAnchor:  [0, -10]
      }
    });

    var militaryIcon = new LocationIcon({iconUrl: '<%= asset_path("map/base.svg") %>'});
    var caveIcon = new LocationIcon({iconUrl: '<%= asset_path("map/cave.svg") %>'});
    var deadIcon = new LocationIcon({iconUrl: '<%= asset_path("map/dead.svg") %>'});
    var infoIcon = new LocationIcon({iconUrl: '<%= asset_path("map/info.svg") %>'});

    // military
    L.marker([-215.6, 244.1], {icon: militaryIcon}).bindPopup("Military Outpost").addTo(map);
    L.marker([-162.7, 319.8], {icon: militaryIcon}).bindPopup("Military Base").addTo(map);
    L.marker([-166, 321], {icon: militaryIcon}).bindPopup("Military Outpost").addTo(map);
    L.marker([-149, 215], {icon: militaryIcon}).bindPopup("Military Checkpoint").addTo(map);
    L.marker([-139.5, 218.4], {icon: militaryIcon}).bindPopup("Military Checkpoint").addTo(map);
    L.marker([-188, 237], {icon: militaryIcon}).bindPopup("Military Outpost").addTo(map);

    // info
    L.marker([-150, 210], {icon: infoIcon}).bindPopup("Lumberjack Camp").addTo(map);
    L.marker([-185.5, 238], {icon: infoIcon}).bindPopup("Radio Tower").addTo(map);
    L.marker([-222.7, 270.5], {icon: infoIcon}).bindPopup("Sawmill").addTo(map);

    // cave
    L.marker([-161, 280.2], {icon: caveIcon}).bindPopup("Secret Cave").addTo(map);
    L.marker([-194, 327], {icon: caveIcon}).bindPopup("Secret Cave").addTo(map);

    // dead
    L.marker([-194.5, 335.2], {icon: deadIcon}).bindPopup("NPC Camp").addTo(map);
    L.marker([-218, 216.5], {icon: deadIcon}).bindPopup("NPC Camp").addTo(map);
    L.marker([-129.5, 241], {icon: deadIcon}).bindPopup("NPC Camp").addTo(map);
</script>